# Python Basics
- Various Data types 
- Variable
- Variable Assignment
- Print Formatting

In [1]:
#Various Data Types in python
# Number - Integer and Float

In [2]:
a= 10 #Integer

In [3]:
a

10

In [4]:
type(a)

int

In [5]:
b=10.3 #Folating

In [6]:
b

10.3

In [7]:
type(b)

float

In [8]:
#String 

Name= "Uday"

In [9]:
print(Name)

Uday

In [10]:
type(Name)

str

In [11]:
#Mathematical Operations with variable assignment

In [12]:
a=10 
b=20

In [13]:
a

10

In [14]:
b

20

In [15]:
print(a%b)

10

In [16]:
-10//3 #Floor

-4

In [17]:
-10/3

-3.3333333333333335

In [18]:
print(a*b)
print(a/b)
print(a%b)
print(a//b) #Floor Division
print((a*b)+(a/b))
print(a^b)
print(b-a)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

200
0.5
10
0
200.5
30
10
True
False
False
True

In [19]:
#Various ways of printing

In [20]:
print("Hello Uday") #1st Way

Hello Uday

In [21]:
#2nd way of printing

In [22]:
First_name="Uday"

In [23]:
Last_name="Sanga"

In [24]:
print("my first name is {} and last name is {}".format(First_name,Last_name))

my first name is Uday and last name is Sanga

In [25]:
#3rd way of printing

In [26]:
print("my first name is {first} and last name is {last}".format(first=First_name,last=Last_name))

my first name is Uday and last name is Sanga

In [27]:
#You can assign to an object/variable

In [28]:
First_last_name=("my first name is {first} and last name is {last}".format(first=First_name,last=Last_name))

In [29]:
print(First_last_name)

my first name is Uday and last name is Sanga

# Python Data Structures and Booleans 
- Boolean
- Boolean and Logical operators
- Lists
- Comparision Operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
- Boolean variables are two constant objects "False" and "True"
- They used to represent truth values(Other values can also be considered false or true)
- The numeric contexts(for eg: when used as the argument to an arthmetic operator) they behave like the integer 0 and 1, respectively
- The built-in function bool() can be used to cast any value to a boolean, if the value can be interepreted as a truth value
- They are written as false and True, respectively

In [30]:
#representing boolean values in diff ways

In [31]:
bool() #In-built function

False

In [32]:
bool(1)

True

In [33]:
bool(0)

False

In [34]:
True

True

In [35]:
False

False

In [36]:
print(True,False)

True False

In [37]:
type(True)

bool

In [38]:
type(False)

bool

In [39]:
#How to apply diff types of in-built functions?
#For eg How to apply diff type of in-built functions in a string
#After writing variable name my_str. and pressing Tab button you will get lot of in-built function which are prsent in string
#same as string you can find many in-built functions in lists, sets, Dictionaries, etc..

In [40]:
my_str="Uday Sanga"

In [41]:
print(my_str.isalnum()) #Check if all characters are numbers
print(my_str.isalpha()) #check if all characters in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #Check if string contains title words #title word means whatever char you have is starts with caps letter?
print(my_str.isupper()) #check if string contains upper case 
print(my_str.islower()) #check if string contains lower case
print(my_str.isspace()) ##check if string contains space
print(my_str.startswith("S")) #Check if string starts with "S"
print(my_str.endswith("a")) #check if string ends with "a"
print(my_str.endswith("A")) #Check if string ends with "A" #python is case sensitive

False
False
False
True
False
False
False
False
True
False

## Boolean and Logical operators
- what are the diff logical operators can be done basically with respective boolean
- They are : "and", "or"

In [42]:
True and True

True

In [43]:
True and False

False

In [44]:
True or True

True

In [45]:
True or False

True

In [46]:
False or False

False

In [47]:
#Complex example

In [48]:
str_example="Hello World"
my_str="Uday"

In [49]:
my_str.isalpha() or str_example.isalnum()

True

In [50]:
my_str.isalpha() and str_example.isalnum()

False

In [51]:
my_str.endswith("y") and str_example.istitle()

True

In [52]:
str_example.isnumeric() or my_str.istitle()

True

In [53]:
str_example.isnumeric() and my_str.istitle()

False

# List
- A list is a data structure in python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside a list is called an item. Just as strings as defined as characters between quotes, lists are defined by have values between square brackets [ ]

In [54]:
#How to check a data type?
type([]) #Anything you define in square brackets [], it is a list.

list

In [55]:
#How to create empty list?
#there are diff ways to create lists

In [56]:
#type-1

lst_example=[]

In [57]:
type(lst_example)

list

In [58]:
#type-2 is creating a list by using an in-built function called "list"

In [59]:
lst=list()

In [60]:
type(lst)

list

In [61]:
#Creating a list with some values?
#we can create list by adding items/values manually with the help of---- comma separated value(,) or using append

In [62]:
#creating list Manually

In [63]:
haha=["Uday", "Sharash", "Rajesh", 300, 200, 100]

In [64]:
haha

['Uday', 'Sharash', 'Rajesh', 300, 200, 100]

In [65]:
#if you want to find the length of the list you need to use function- len()

In [66]:
len(haha)

6

## Creating list using "Append" 
- Append helps you to add more items into the list

In [67]:
#append is used to add elements into the list

In [68]:
haha.append("varma") #it add the value at the end of the list

In [69]:
haha

['Uday', 'Sharash', 'Rajesh', 300, 200, 100, 'varma']

In [70]:
haha.append(["kalyan", "rakesh"]) #This actually creates "Nested-List"- List in List is called a nested list.

In [71]:
haha

['Uday', 'Sharash', 'Rajesh', 300, 200, 100, 'varma', ['kalyan', 'rakesh']]

In [72]:
#Indexing in List
haha[3]

300

In [73]:
haha[0]

'Uday'

In [74]:
#Indexing can also be done with the range of values

In [75]:
haha[:] #it gives all items from the list bcoz i did'nt mention any range square brackets

['Uday', 'Sharash', 'Rajesh', 300, 200, 100, 'varma', ['kalyan', 'rakesh']]

In [76]:
haha[2:6] #it gives output like starting range will include and ending range will exclude

['Rajesh', 300, 200, 100]

In [77]:
haha[1:] #it give output like starting range will include and ending range will exclude 
#but here i did not mention any ending value so this gives all values starting from range 1

['Sharash', 'Rajesh', 300, 200, 100, 'varma', ['kalyan', 'rakesh']]

In [78]:
haha[:4] #it give output like starting range will include and ending range will exclude 
#but here i did not mention any starting value so this gives all values till range 3

['Uday', 'Sharash', 'Rajesh', 300]

In [79]:
#There are still many ways of indexing techniques. we will learning in numpy and pandas

# Insert 
- To add a new element at a sepcific index in the list use "insert" option

In [80]:
#How to add elements at a specific index in the list?

In [81]:
lst_ex=["one",2,"Three",4,"Five",6]

In [82]:
lst_ex

['one', 2, 'Three', 4, 'Five', 6]

In [83]:
#Add "Two" element in index place 1

lst_ex.insert(1,"Two")

In [84]:
lst_ex

['one', 'Two', 2, 'Three', 4, 'Five', 6]

# Extend Method
- Extend option will increase the length of the table or list 
- It will not create nested list like append function

In [85]:
New_lst=[1,2,3,4,5,6]

In [86]:
New_lst

[1, 2, 3, 4, 5, 6]

In [87]:
#Extend list by adding 8,9 element into the list. How?

In [88]:
New_lst.extend([8,9])

In [89]:
New_lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [90]:
#Extend list by adding ("uday", "Sanga") elements into the list. How?

In [91]:
New_lst.extend(["uday","Sanga"])

In [92]:
New_lst

[1, 2, 3, 4, 5, 6, 8, 9, 'uday', 'Sanga']

# Various operation that we can perform on list

In [93]:
Nlist=[1,2,3,4,5,6,7,8]

In [94]:
Nlist

[1, 2, 3, 4, 5, 6, 7, 8]

In [95]:
sum(Nlist) #operator- Sum()

36

In [96]:
Nlist*2 # it will not multiply the value with 2. But it repeat values two time

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

## Pop() Method
- It will try to pick up or pick out the element from specific index
- By default if i don't give any value--- eg: lst.pop() ---- it will pick out or remove the last value or element
- If you mention any index number then it will pick out or remove from the list- eg: lst.pop(1)

In [97]:
Nlist

[1, 2, 3, 4, 5, 6, 7, 8]

In [98]:
Nlist.pop() # it will pick out or remove last element from the list

8

In [99]:
Nlist

[1, 2, 3, 4, 5, 6, 7]

In [100]:
Nlist.pop(0) #it will remove or pick out the 0- index value from the list

1

## count() - Calculates total occurance of given element of list
- It find repeated elements or values from the list and gives the mentioned element count of repeated values

In [101]:
lst=[1,1,3,4,2,2,4]

In [102]:
lst

[1, 1, 3, 4, 2, 2, 4]

In [103]:
lst.count(1) #It gives count of element "1" from the list

2

In [104]:
lst.count(4) #It gives count of element "4" from the list

2

## Length 
- Calculates total length of the list

In [105]:
len(lst) #it calculates total length of the list

7

## Index() 
- Returns the index of first occurrence. Start and End index are not necessary parameters

In [106]:
lst.index(1)

0

In [107]:
lst.index(1,1,5)

1

In [108]:
#min and Max function

In [109]:
min(lst) #it returns the minimum value from the list

1

In [110]:
max(lst) #it returns the maximum value from the list

4

## Sets
- A set is an unordered collection data type that is iterable, mutable/changeable and has no duplacate elements.
- Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table

- A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set() . It can have any number of items and they may be of different types (integer, float, tuple, string etc.).
- It does not support indexing

In [111]:
## Defining an empty set. we use in-built function- set() 
set_var=set()  
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [112]:
#Creating a set by using curly braces {}

set_var1={1,2,3,4,5,3}

In [113]:
set_var1 #it removes duplicate values like 3 number

{1, 2, 3, 4, 5}

In [114]:
#create one more set

In [115]:
set_var2={"uday","sharash","rajesh"}
print(set_var2)
type(set_var2)

{'uday', 'sharash', 'rajesh'}

set

In [116]:
#exam 3:
values={1,2,3,4,3,5,6,4}
values
type(values)

set

In [117]:
#value{1}

In [118]:
#example
set_Ex1={"cat","Rat","Dog"}
set_Ex2={"cat","pig","Hen","Eagle"}
set_Ex2.difference(set_Ex1)

{'Eagle', 'Hen', 'pig'}

In [119]:
set_Ex2.difference_update(set_Ex1)

In [120]:
set_Ex2

{'Eagle', 'Hen', 'pig'}

In [121]:
print(set_Ex1)
print(set_Ex2)

{'Rat', 'Dog', 'cat'}
{'Eagle', 'Hen', 'pig'}

In [122]:
#indexing is not supported in sets and 'set' object is not subscriptable.
set_var2={"uday","sharash","rajesh"}
set_var2[0]

TypeError: 'set' object does not support indexing

In [123]:
set_var2["sharash"]  #'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [124]:
#in-built functions in sets

set_var2.add("varma")  #if you want to add any new element into set use "variable.add" function

In [125]:
set_var2

{'rajesh', 'sharash', 'uday', 'varma'}

In [126]:
set_var2.remove("sharash") #Remove in-built function helps to remove element from the sets

In [127]:
set_var2

{'rajesh', 'uday', 'varma'}

In [128]:
set1={"Dog","cat","puppy","Pig"}
set2={"Dog","plants","flower","animals","cat"}

In [129]:
set1

{'Dog', 'Pig', 'cat', 'puppy'}

In [130]:
set2

{'Dog', 'animals', 'cat', 'flower', 'plants'}

In [131]:
#Difference- it will find the differet elements from the give sets. But it won't remove them from the given set
set2.difference(set1)

{'animals', 'flower', 'plants'}

In [132]:
set2 #check here elements are not removed from the set

{'Dog', 'animals', 'cat', 'flower', 'plants'}

In [133]:
#difference_update- it will help you to remove the same elements from the set and gives updated set

set2.difference_update(set1)

In [134]:
set2 #from set2- Dog and Cat are removed

{'animals', 'flower', 'plants'}

In [135]:
#intersection- It will find common elements and gives the result
set2.intersection(set1)

set()

In [136]:
#intersection_update- it will update the set

In [137]:
set2.intersection_update(set1)

In [138]:
set2

set()

## Dictionaries
- It is a collection which is unordered, mutable/changeable and indexed. in python dictionaries are written in curly brackets { } and they have a key and values

In [139]:
dic={}  #To define dictionary, we just need to use empty flower brackets.{}

In [140]:
type(dic)

dict

In [141]:
#Note: In sets also we use same {} flower brackets, but in sets we have variables and items assigned there. like below

In [142]:
Dics={1,2,3,4,5,"uday"}

In [143]:
Dics

{1, 2, 3, 4, 5, 'uday'}

In [144]:
type(Dics)

set

In [145]:
#Note: In Dictionaries we do not assign values or items like above, we assign like below(keys and values)

In [146]:
#Lets create a dictionary
my_dict={"car1": "Audi","car2": "Maruti","car3": "Benz"}

In [147]:
my_dict

{'car1': 'Audi', 'car2': 'Maruti', 'car3': 'Benz'}

In [148]:
type(my_dict)

dict

In [149]:
type(dict()) #this is an inbult function for dictionary---> dict() same like sets()

dict

In [150]:
sets=dict()

In [151]:
type(sets)

dict

In [152]:
#Access the item values based on keys

In [153]:
my_dict={"car1": "Audi","car2": "Maruti","car3": "Benz"}

In [154]:
my_dict

{'car1': 'Audi', 'car2': 'Maruti', 'car3': 'Benz'}

In [155]:
#Access or indexing
my_dict["car1"]

'Audi'

In [156]:
my_dict["car2"]

'Maruti'

In [157]:
#We can write a loop throught the dictionary keys
for x in my_dict:
    print(x)

car1
car2
car3

In [158]:
#we can write a loops for getting values from Dict
for x in my_dict.values():
    print(x)

Audi
Maruti
Benz

In [159]:
#we can also check both keys and values from dict
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'Maruti')
('car3', 'Benz')

In [160]:
#We can add or update new items in the dictionary
my_dict["car1"]="Audi 2.0" #update

In [161]:
my_dict

{'car1': 'Audi 2.0', 'car2': 'Maruti', 'car3': 'Benz'}

In [162]:
#add new item
my_dict["car4"]="Hundai"

In [163]:
my_dict

{'car1': 'Audi 2.0', 'car2': 'Maruti', 'car3': 'Benz', 'car4': 'Hundai'}

## Nested Dictionary

In [164]:
car1_model={"Mercedes":1960}
car2_model={"Audi":1970}
car3_model={"Ambassador":1980}

car_types={"car1": car1_model, "car2": car2_model, "car3": car3_model}

In [165]:
print(car_types)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [166]:
#Accessing the items in the dictionary

print(car_types["car1"])

{'Mercedes': 1960}

In [167]:
print(car_types["car1"]["Mercedes"])

1960

## Tuples
- Tuple is not Mutable. 
- Once you define a tuple you cannot change the elements of the tuple. But you can replace the entire tuple not elements in tuple
- To define a tuple you need to use open brackets--> ()

In [168]:
#Create an empty tuples
my_tuple=tuple()
type(my_tuple)

tuple

In [169]:
my_tuple=("uday","sanga","kumar")

In [170]:
my_tuple

('uday', 'sanga', 'kumar')

In [171]:
#Accessing or indexing tuple elements
my_tuple[0]

'uday'

In [172]:
#Note: You cannot replate items from the tuple. why bcox 'tuple' object does not support item assignment

In [173]:
my_tuple[0]="Yadav"

TypeError: 'tuple' object does not support item assignment

In [174]:
#Note: You can replace whole tuple but not elements

In [175]:
my_tuple=("Hello","world")

In [176]:
my_tuple

('Hello', 'world')

In [177]:
#where the tuple is used?
# Tuple is used where the defination of an item just required one time.

In [178]:
#Inbuilt functions

In [179]:
# Count()---> It counts the no.of given elements in the tuple

In [180]:
my_tuple=("uday","sanga","kumar")

In [181]:
my_tuple.count("uday")

1

In [182]:
# Index()----> it gives the index value of an given item

In [183]:
my_tuple.index("sanga")

1

# Thank You